{% extends 'base.html' %} 


{% block body %}

<!-- <div class="row row-cols-1 row-cols-md-2 g-4"> -->

<div class="row row-cols-1 row-cols-md-3 g-4">

  {%for el in data %}
  {%if not el.isActive%}
  {% if el.user_prod and el.basket == current_user.id and not el.buy %}
  <div class="col box {{el.filter_category}}">
    <div class="card border-warning mb-3 h-100" >
      <div class="card-header">{{el.category}}</div>
      <img src="{{url_for('static',filename=el.img_file)}}" width="80" height="300" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{el.title}}</h5>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><br>
        <div class="btn-toolbar justify-content-between">
        {% if current_user.is_authenticated %}
          <p class="d-inline-flex gap-1">
            <button type="button" class="btn btn-success" role="button" data-bs-toggle="button" disabled>Уже в корзине</button>
          {% endif %}
          <div class="card-text">
            <small class="price" id="price">{{el.prise}} руб.</small>
            {% if el.discount %}
            <span class="d-block text-danger">скидка {{el.discount}}%</span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
{% else %}
<div class="col box {{el.filter_category}}">
  <div class="card border-warning mb-3 h-100" >
    <div class="card-header">{{el.category}}</div>
    <img src="{{url_for('static',filename=el.img_file)}}" width="80" height="300" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">{{el.title}}</h5>
      <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p><br>
      <div class="btn-toolbar justify-content-between">
      {% if current_user.is_authenticated %}


          <div class="d-flex flex-row bd-highlight mb-2">
            {% if not el.user_prod.like%}
          <form action="" method="post" class="p-2">
            {{like.like(type="hidden",value=el.id)}}

            {{like.like_submit(class="btn btn-outline-info")}}

        </form>
        {% else %}

        {% if help_like %}
        {% for he in help_like if el.id == he.product_id %}
        
        <button type="button" class="btn btn-info " role="button" data-bs-toggle="button" disabled>В избранном
        </button>
        {% else%}
        <form action="" method="post" class="p-2">
          {{like.like(type="hidden",value=el.id)}}
          {{like.like_submit(class="btn mybtn btn-outline-info")}}

       </form>


        {% endfor %}
        {% else %}

        <form action="" method="post" class="p-2">
          {{like.like(type="hidden",value=el.id)}}
          {{like.like_submit(class="btn btn-outline-info")}}

      </form>
        
        {% endif %}
        {% endif %}
        <form action="", method="post" class="p-2">

        {{form_basket.basket(type="hidden",value=el.id)}}


            {{form_basket.basket_submit(class="btn mybtn btn-outline-costum")}}
          </div>
        </p>
      </form>
        {% endif %}
        <div class="card-text">
          <small class="price" id="price">{{el.prise}} руб.</small>
          {% if el.discount %}
          <span class="d-block text-danger">скидка {{el.discount}}%</span>
          {% endif %}
        </div>
        
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endfor %}
</div>


{%endblock%}

