{% extends 'base.html' %}

{% block link%}

  <link href="{{url_for('auth.static', filename='css/sing-in.css')}}" rel="stylesheet">
  
  <script src="{{url_for('auth.static', filename='js/sing_up.js')}}" defer></script>

{%endblock link %}
</head>

<body>
{% block header %}
{%endblock%}
{% block body %}
  <div class='home'>
    <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
      <img class="" src="{{url_for('static', filename='image/icon/home.png')}}" aria-label="Bootstrap">
    </a>
    <div class="">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <ul class=flashes>
        {% for category, message in messages %}
           <div class="alert alert-{{category}}">
            {{ message }}
           </div>
        {% endfor %}
        </ul>
      {% endif %}
      {% endwith %}
    </div>
  </div>



<div class="wrapper">
  <div class="form-wrapper sing-up">
    <!-- регистрация -->
    <form method="POST" action="">
      {{ singUp_form.csrf_token }}
      <legend class="legend"> {{singup_legend}} </legend>
      {% for field in singUp_form if field.name not in ['csrf_token', 'sing_submit'] %}
      <div class="input-group">
        {% if field.errors %}
        {{ field(class='is-invalid')}}
        <div class="invalid-feedback">
            {% for error in field.errors if error != 'This field is required.' %}
            <span>{{error}}</span>
            {% endfor %}
        </div>
        {% else %}
        {{field}}
        {% endif %}
    </div>
    {% endfor %}
    <div class="form-group">
    {{singUp_form.sing_submit}}
    </div>
      <div class="sing-link">
        <p>Already have an account? <a class="singIn-link">Sing In</a></p>
      </div>
    </form>
  </div>

  <!-- войти -->
  <div class="form-wrapper sing-in">
    <form method="POST" action="">
      {{ login_form.csrf_token }}

      <legend class="legend"> {{login_legend}} </legend>
      <div class="input-group">
        {{login_form.username}}
        <label for="Username">Username</label>
      </div>

      <div class="input-group">
        {{login_form.password}}
        <label for="password">Password</label>
      </div>

      <div class="form-check">
        {{login_form.remember(class='form-check-input')}}
        {{login_form.remember.label(class='form-check-label')}}
      </div>
      <div class="form-group">
        {{login_form.submit}}
      </div>
      <div class="sing-link">
        <p>Don't have an account? <a class="singUp-link">Sing Up</a></p>
      </div>
    </form>
  </div>
</div>
{%endblock%}
</body>
